/* -- PAGE STRUCTURE -- */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    
    -webkit-font-feature-settings: 'onum', 'pnum', 'liga=1';
       -moz-font-feature-settings: 'onum', 'pnum', 'liga=1';
        -ms-font-feature-settings: 'onum', 'pnum', 'liga';
         -o-font-feature-settings: 'onum', 'pnum', 'liga';
            font-feature-settings: 'onum', 'pnum', 'liga';
    
    margin: 0;
    padding: 0;
}

html {
    font-family: source-serif-pro, serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 100%;
    color: black;
    background-color: #FAF7E6;
}

body {
    overflow-y: scroll;
    max-width: 38rem;
    padding: 42px 2.2rem 1.5rem 2.2rem;
    margin: 0 auto 0 auto;
    text-rendering: optimizeLegibility;
}

header {
    display: block;
}

main {
    padding: 0 0 6ex 0;
}

h1 {
    font-size: large;
    font-weight: 600;
}

h2 {
    font-family: source-sans-pro, sans-serif;
    font-size: medium;
    font-variant: small-caps;
    font-weight: 400;
    text-transform: lowercase;
}

p {
    padding: 0 0 1rem 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}

abbr {
    font-family: source-sans-pro, sans-serif;
    text-transform: lowercase;
    font-feature-settings: 'smcp';
    font-variant: small-caps;
}

blockquote {
    font-size: medium;
    display: block;
    border-left: 2px solid black;
    margin: 0 1rem 1.2rem 0; 
    padding-left: 1.2ex;
}

hr {
    border: none;
    border-top: 2px solid black;
    width: 36px;
    margin: 1.5ex 0 1ex 0;
}

a {
    text-decoration: none;
    color: black;
    background: transparent;
    border-bottom: dotted 1px black;
}

a:hover, a:focus {
    color: black;
    border-bottom: solid 1px black;
}

ul, ol {
    padding-bottom: 1em;
    display: block;
    font-size: 0.96rem;
}


li {
    padding: 0 0 5px 0;
}

ul li {
    list-style-type: square;
}

img {
    max-width: 102%;
    margin: 0 0 1rem 0;
    display: block;
    vertical-align: middle;
    border-radius: 5px;
}

figure > img {
    display: block;
}

figcaption {
    font-size: small;
}

table {
    font-size: small;
    width: 100%;
    text-align: left;
    margin: 0 0 1rem 0;
    border: 1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

th {
    padding: .25rem 0 .25rem;
    border: none;
    border-bottom: 1px solid black;
}

tr:hover, tr:focus { 
    background: #cbf8df;
    color: black;
}
    
td {
    padding: .25rem 0 .25rem;
}

/* Footnotes */
a[href^='#fn:'], a[href^='#fnref:'] {
    font-weight: bold;
    display: inline-block;
    margin-left: .1rem;
}

div.footnotes { 
    font-size: small;
    margin-top: 2rem;
    padding-top: 0.5rem;
    border-top: 1px dotted black;
    line-height: 1.3;
}

div.footnotes p {
    margin-bottom: 0.5rem;
}

/* Site header */
.title {
    font-size: x-large;
    font-weight: 400;
    display: inline-block;
}

.title a {
    border: none;    
}

.socials {
    display: inline-block;
    float: right;
    line-height: 2.4;
}

.socials a {
    background: transparent;
    color: black;
    border: none;
    padding: 0px 0 0 12px;
    font-size: 1.2rem;
}

.socials a:hover, .socials a:focus, .title a:hover, .title a:focus {
    background: transparent;
    color: #c91f37;
    border: none;
}

.page-meta {
    margin: 0rem 0 1rem 0;
}

.page-meta h1 {
    font-family: source-serif-pro, serif;
    font-size: large;
}

.page-meta h2 {
    font-family: source-serif-pro, serif;    
    font-size: medium;
    font-style: italic;
    font-variant: none;
    text-transform: none;
    margin: 0 0 -0.4ex 0;
    color: #c91f37;
}

/* Code highlighting */
code {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: medium;
    color: #c91f37;
    background-color: #eee;
    padding: .2em .4em;
    border-radius: 3px;
}

pre {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: medium;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: scroll;
}

pre code {
    padding: 0;
    width: content-width;
    color: inherit;
    background-color: transparent;
}

.highlight { background-color: #eee; }
.highlighter-rouge .highlight { background-color: #eee; }
.highlight .c  { color: #998; font-style: italic; }                    /* Comment */
.highlight .err { color: #a61717; background-color:#e3d2d2; }          /* Error */
.highlight .k  { font-weight: bold; }                                  /* Keyword */
.highlight .o  { font-weight: bold; }                                  /* Operator */
.highlight .cm { color: #998; font-style: italic; }                    /* Comment.Multiline */
.highlight .cp { color: #999; font-weight: bold;}                      /* Comment.Preproc */
.highlight .c1 { color: #998; font-style: italic; }                    /* Comment.Single */
.highlight .cs { color: #999; font-weight: bold; font-style: italic; } /* Comment.Special */
.highlight .gd { color: #000; background-color: #fdd; }                /* Generic.Deleted */
.highlight .gd .x { color: #000; background-color: #faa; }             /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic; }                                 /* Generic.Emph */
.highlight .gr { color: #a00; }                                        /* Generic.Error */
.highlight .gh { color: #999; }                                        /* Generic.Heading */
.highlight .gi { color: #000; background-color: #dfd; }                /* Generic.Inserted */
.highlight .gi .x { color: #000; background-color: #afa; }             /* Generic.Inserted.Specific */
.highlight .go { color: #888; }                                        /* Generic.Output */
.highlight .gp { color: #555; }                                        /* Generic.Prompt */
.highlight .gs { font-weight: bold; }                                  /* Generic.Strong */
.highlight .gu { color: #aaa; }                                        /* Generic.Subheading */
.highlight .gt { color: #a00; }                                        /* Generic.Traceback */
.highlight .kc { font-weight: bold; }                                  /* Keyword.Constant */
.highlight .kd { font-weight: bold; }                                  /* Keyword.Declaration */
.highlight .kp { font-weight: bold; }                                  /* Keyword.Pseudo */
.highlight .kr { font-weight: bold; }                                  /* Keyword.Reserved */
.highlight .kt { color: #458; font-weight: bold; }                     /* Keyword.Type */
.highlight .m  { color: #099}                                          /* Literal.Number */
.highlight .s  { color: #d14; }                                        /* Literal.String */
.highlight .na { color: teal; }                                        /* Name.Attribute */
.highlight .nb { color: #0086B3; }                                     /* Name.Builtin */
.highlight .nc { color: #458; font-weight: bold; }                     /* Name.Class */
.highlight .no { color:teal; }                                         /* Name.Constant */
.highlight .ni { color:purple; }                                       /* Name.Entity */
.highlight .ne { color: #900; font-weight: bold; }                     /* Name.Exception */
.highlight .nf { color: #900; font-weight: bold; }                     /* Name.Function */
.highlight .nn { color: #555; }                                        /* Name.Namespace */
.highlight .nt { color: navy; }                                        /* Name.Tag */
.highlight .nv { color: teal; }                                        /* Name.Variable */
.highlight .ow { font-weight: bold; }                                  /* Operator.Word */
.highlight .w  { color: #bbb; }                                        /* Text.Whitespace */
.highlight .mf { color: #099; }                                        /* Literal.Number.Float */
.highlight .mh { color: #099; }                                        /* Literal.Number.Hex */
.highlight .mi { color: #099; }                                        /* Literal.Number.Integer */
.highlight .mo { color: #099; }                                        /* Literal.Number.Oct */
.highlight .sb { color: #d14; }                                        /* Literal.String.Backtick */
.highlight .sc { color: #d14; }                                        /* Literal.String.Char */
.highlight .sd { color: #d14; }                                        /* Literal.String.Doc */
.highlight .s2 { color: #d14; }                                        /* Literal.String.Double */
.highlight .se { color: #d14; }                                        /* Literal.String.Escape */
.highlight .sh { color: #d14; }                                        /* Literal.String.Heredoc */
.highlight .si { color: #d14; }                                        /* Literal.String.Interpol */
.highlight .sx { color: #d14; }                                        /* Literal.String.Other */
.highlight .sr { color: #009926; }                                     /* Literal.String.Regex */
.highlight .s1 { color: #d14; }                                        /* Literal.String.Single */
.highlight .ss { color: #990073; }                                     /* Literal.String.Symbol */
.highlight .bp { color: #999; }                                        /* Name.Builtin.Pseudo */
.highlight .vc { color: teal; }                                        /* Name.Variable.Class */
.highlight .vg { color: teal; }                                        /* Name.Variable.Global */
.highlight .vi { color: teal; }                                        /* Name.Variable.Instance */
.highlight .il { color: #099; }                                        /* Literal.Number.Integer.Long */
.highlight .css .o, .highlight .css .o + .nt, .highlight .css .nt + .nt { color: #999; }
