<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta content='text/html; charset=utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='keywords' content='{{ site.keywords | strip_html | condense_spaces }}' />
    <link rel='stylesheet' href='https://use.typekit.net/xdl8kbp.css'>
    <link rel='stylesheet' href='https://use.typekit.net/rwk6dlk.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css'>
    <link rel='stylesheet' href='/css/stylesheet.css'>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>
<body>
    <header>
        <h1 class='title'><a href='/'>{{ site.title }}</a></h1>
        <div class='socials'>
            {%- if site.linkedin -%}
                <a href='https://linkedin.com/in/{{ site.linkedin }}' class='fab fa-linkedin-in' class='icon'></a>
            {%- endif -%}
            {%- if site.github -%}
                <a href='https://github.com/{{ site.github }}' class='fab fa-github' class='icon'></a>
            {%- endif -%}
        </div>
    </header>
    <main>
        <hr>
        {{ content }}
    </main>
    <footer></footer>
</body>
</html>